<!Doctype html>
<html lang='pt-br'>
	<head>
 		<meta charset="utf-8">
		 <title>Cadastro</title>
		 <link rel="stylesheet" href="/css/style.css">
		 <link rel="icon" href="img/logo.png"> 
	</head>
	<body class="fundo_login">
		<img src="img/logo_grande.png" class="logo_login">
		<h1 id="h1_login">CADASTRE-SE</h1>
		<form action="/cadastrar_usuario" method="POST" class="form_login">
			<div><input class='input_cadastro' type="text" placeholder="Nome" name="nome_usuario" required></div>
			<div><input class='input_cadastro' type="email" placeholder="E-mail" name="email_usuario" required></div>
			<div><input class='input_cadastro' type="password" placeholder="Senha" name="senha_usuario" required></div>
			<div><input class='input_cadastro' type="date" name="nascimento_usuario" required></div>
 			<div><button class='button_cadastro' type="submit">Cadastrar</button></div>
 			<a href="/form_login">Já possuo cadastro</a>
		</form>
		
	</body>
</html>